*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button{
    height: 6vh;
    background-color: #16a3b7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.button:active{
    transform: scale(0.95);
    background-color: #0f7a8c;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}